.container {
  background-color: #6b7280;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: calc(10 * var(--unit));

  h1 {
    color: white;
    margin-bottom: calc(20 * var(--unit));
    font-size: calc(34 * var(--unit));
  }

  .list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: calc(10 * var(--unit));
    overflow-y: auto;

    .listItem {
      width: 100%;
      border-radius: calc(12 * var(--unit));
      padding: calc(10 * var(--unit));
      background-color: #374151;
      display: flex;
      gap: calc(20 * var(--unit));
      color: white;

      .logo {
        width: calc(100 * var(--unit));
        height: auto;
        object-fit: contain;
      }

      .title {
        font-size: calc(22 * var(--unit));
      }
      .description {
        font-size: calc(16 * var(--unit));
      }
    }
  }
}
