@import 'tailwindcss';

:root {
  /*  /默认情况下（屏幕宽度大于414px）， 1rp等于1px。 / */
  /* --unit: 1px; */
}

@media (max-width: 414px) {
  :root {
    /* 对于414px或更窄的屏幕，1unit 是 100vw / 414 = 0.2415vw */
    /* --unit: calc(100vw / 414); */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
