.container {
  background-color: #6b7280;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;

  h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 34px;
  }

  .list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;

    .listItem {
      width: 100%;
      border-radius: 12px;
      padding: 10px;
      background-color: #374151;
      display: flex;
      gap: 20px;
      color: white;

      .logo {
        width: 100px;
        height: auto;
        object-fit: contain;
      }

      .title {
        font-size: 22px;
      }
      .description {
        font-size: 16px;
      }
    }
  }
}
